# 忽略套件資料夾 (這個絕對不能傳，檔案太多太大了)
node_modules/

# 忽略資料庫檔案 (避免把測試資料傳上去，Render 部署也會重新產生)
*.db

# 忽略使用者上傳的檔案 (通常不建議將測試上傳的圖片傳到 GitHub)
public/upload/*

# 但我們需要保留 upload 資料夾本身，所以不忽略 .gitkeep
!public/upload/.gitkeep

# 忽略環境變數設定檔 (如果有寫的話)
.env

# 忽略作業系統產生的雜物
.DS_Store
Thumbs.db